@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Prompt:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid green;
}

body {
  background-color: #C6ECAE;
}

header {
  display: flex;
  font-family: 'prompt';
  text-align: right;
  font-size: x-large;
  justify-content: flex-start;
}


main {
  display: flex;
  width: 100%;
  gap: 50px;
  flex-direction: column;
}



.information {
  display: flex;
  gap: 50px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}



.dinosaur_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas: "t-rex triceratops velociraptor diplodocus"
    "alosaurio bauri spinosaurus form";
}

.dinosaur {
  display: flex;
  margin-block: 5px;
  border: 1px solid black;
  height: 400px;
  justify-content: center;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

li {
  padding: 40px;
}

.dinosaur_classification {
  padding: 60px;

}

.dinosaur_t-rex {
  grid-area: t-rex;
}

.dinosaur_triceratops {
  grid-area: triceratops;
}

.dinosaur_velociraptor {
  grid-area: velociraptor;
}

.dinosaur_diplodocus {
  grid-area: diplodocus;
}

.dinosaur_alosaurio {
  grid-area: alosaurio;
}

.dinosaur_coelophysis_bauri {
  grid-area: bauri;
}

.dinosaur_spinosaurus_aegyptiacus {
  grid-area: spinosaurus;
}

.animation_dinosaur_p {
  display: none;
}

.dinosaur:hover>.animation_dinosaur_p {
  display: block;
}

.dinosaur:hover {
  background-color: #7EB77F;
}

.dinosaur:hover>.dinosaur_img {
  display: none;
}